h1 {
  color: #FCE46C;
  background-color: #1C1D4E;
  margin: 0;
  padding: 5px;
  letter-spacing: 2px;
  font-family: Verdana, sans-serif;
  text-align: center;
}

p {
  color: #FFFFFF;
  font-family: Verdana, sans-serif;
}

a:link, a:visited {
  color: #FCE46C;
  font-family: Verdana, sans-serif;
}

body {
  background-image: url('fireworks.jpg');
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0;
}

img {
  max-width: 500px;
  height: auto;
  border: 3px solid #FFFFFF;
  border-radius: 25%;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom
}

table {
  tr:nth-child(even) {background-color: #1C1D4E;}
  tr:nth-child(odd) {background-color: #5B5DB3;}
	border-collapse: collapse;
	width: 100%;
        }
td {
  color: #FFFFFF;
  border: 1px, solid, #f2f2f2;
	text-align: center;
	padding: 5px;
	font-family: Verdana, sans-serif;
	backgound-color: #FFFFFF;
        }
th {
  color: #FCE46C;
  background-color: #1C1D4E;
	padding: 10px;
	text-align: center;
	font-family: Verdana, sans-serif;
        }